.main-router-outlet {
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main-router-outlet ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.main-router-outlet ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}